<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kids_learning_app">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kids_Learning_App">
        <activity
            android:name=".GameOver"
            android:exported="false" />
        <activity
            android:name=".start_cgame"
            android:exported="false"
            android:parentActivityName=".FunStart" />
        <activity
            android:name=".FunStart"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:parentActivityName=".start_cgame" />
        <activity
            android:name=".FirstLaunch"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Playing"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity_learning"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnimalActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FruitActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlphabetActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>
